Binaries
DerivedDataCache
Intermediate
Saved
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/Audio/Room_SOUND_EFFECT_-_Silence_Ambience_Noise_Tone_Stille_SOUND_48000_2_01.uasset
Content/Bathroom/BathroomWalls/downloads-library-seamless-texture-aepavagethumb-abderrahmen-ezzine-902.png